* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    color: white;
}

body{
    margin: 0;
    padding: 2em;
    width: 100%;
    height: 100vh;
    font-family: 'Gemunu Libre', sans-serif;
    background-color: #010409;
    color: white
}

main{
    padding-top: 50px;
    max-width: 1213.65px;
    margin: auto;
    padding: 1em;
}

header{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto 1em;
}

.escudo{
    max-width: 96.53px;
}

.destaque{
    color: #FFC90D;
}

.botaoheader{
    background-color: #FFC90D;
    text-decoration: none;
    font-size: 16px;
    color: #010409;
    border: none;
    width: 150px;
    height: 48.39px;
    font-family: 'Gemunu Libre', sans-serif;
    border-radius: 10px;
}

.botaoheader {
    background-color: #fffb09fb;
}

a{
    text-decoration: none;
}

.logojunto{
    display: flex;
    align-items: center;
}

.logojunto p{
    margin: 0;
    padding-left: 12px;
    font-size: 31.35px;
}

.fototeclado{
    max-width: 1213.65px;
    border-radius: 30px;
    width: 100%;
}

.botaoinscrever{
    background-color: #FFC90D;
    text-decoration: none;
    font-size: 16px;
    color: #010409;
    font-family: 'Gemunu Libre', sans-serif;
    border-radius: 10px;
    width: 160px;
    height: 58.39px;
    border: none;
}

.botaoinscrever {
    background-color: #fffb09fb;
}

.conteudoimg{
    max-width: 550px;
    background-color: #010409;
}

.conteudoimg h1{
    font-weight: 400;
    font-size: 5.4em;
}

p{
    font-size: 2.12em;
}

.estrelas{
    max-width: 141.25px;
}

.terceirasecao{
    margin-bottom: 70px;
}

.terceirasecao h1{
    font-weight: 400;
    font-size: 6.65em;
    padding-top: 31.5px;
    margin: 0;
}

.segundasecao p{
    max-width: 547.48px;
    width: 100%;
}

.segundasecao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.divdata{
    text-align: center;
    justify-content: center;
}

#data{
    margin: 0;
    padding-top: 13.23px;
    padding-bottom: 31.5px;
}

.quartasecao h1{
    font-weight: 400;
    font-size: 5.2em;
}

.tituloform{
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
    margin-bottom: 2em;
}

.tituloform img{
    padding-left: 20px;
}

fieldset{
    border: none;
    margin: auto;
    width: 100%;
    padding: 0 0 0 0;
}

fieldset > div {
    display: flex;
    padding: 0 1em 0 1em;
    flex-shrink: 0;
}

input{
    color: white;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.5em;
    background-color: #010409;
    border-color: white;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 15px;
    margin-bottom: 35px;
    max-width: 900px;
    height: 60px;
    width: 100%;
    padding-left: 18px;  
}

input::placeholder{
    color: rgba(255, 255, 255, 0.363);
}

input::after{
    color: white;
}

.primeirasecao{
    background-image: url(assets/img/teclado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 100px;
}

.primeirasecao h1{
    margin-top: 44.32px;
}

select{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 2em;
    color: white;
    background-color: #010409;
    border-color: white;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 6px;
    border-radius: 15px;
    height: 60px;
    margin-bottom: 35px;
    padding-left: 18px; 
}

select::placeholder{
    color: rgba(255, 255, 255, 0.363);
}

.botaoform{
    background-color: #FFC90D;
    text-decoration: none;
    font-size: 1.33em;
    color: black;
    border: none;
    width: 210px;
    height: 75px;
    font-family: 'Gemunu Libre', sans-serif;
    border-radius: 10px;
    padding: 0;
    transform: translateY(-2.5px);
    transition: 0.5s;
    cursor: pointer;
}

.botaoform:hover {
    background-color: #fffb09fb;
}

.linha1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.linha2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.slider{
    margin: 0 auto;
    width: 350px;
    height: 500px;
    overflow: hidden;
}

.slides{
    width: 600%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img{
    width: 350px;
}

.navegacaomanual{
    position: absolute;
    width: 350px;
    margin-top: 480px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background-color: #FFC90D;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

#radio6:checked ~ .first{
    margin-left: -125%;
}

.autonavegacao div{
    border: 2px solid #FFC90D;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.autonavegacao{
    position: absolute;
    width: 350px;
    margin-top: 480px;
    display: flex;
    justify-content: center;
}

.autonavegacao div:not(:last-child){
    margin-right: 10px;
}

#radio1:checked ~ .autonavegacao .autobutton1{
    background-color: #FFC90D;
}

#radio2:checked ~ .autonavegacao .autobutton2{
    background-color: #FFC90D;
}

#radio3:checked ~ .autonavegacao .autobutton3{
    background-color: #FFC90D;
}

#radio4:checked ~ .autonavegacao .autobutton4{
    background-color: #FFC90D;
}

#radio5:checked ~ .autonavegacao .autobutton5{
    background-color: #FFC90D;
}

#radio6:checked ~ .autonavegacao .autobutton6{
    background-color: #FFC90D;
}

button:hover{
    transform: translateY(-2.5px);
    transition: 0.5s;
    cursor: pointer;
}

.formulario{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudomeio{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.tituloebotao{
    padding-right: 20px;
}

.abc{
    width: 90px
}

.elefante{
    width: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1400px;
    margin: auto;
    background-color: var(--azul2);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    padding: 1em 2em;
}